includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
